@import url(variables.css);

@font-face {
    font-family: "Bitter";
    src: url("../storage/font/Bitter/Bitter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceMono";
    src: url("../storage/font/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-prymari);
}

#sun{
    animation-name: opacidad;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    width: 26vw;
    margin-top: 1vw;
}

#fondo{
    width: 48vw;
    float: right;
    margin-right: 6%;
}

#title{
    font-family: "Bitter", sans-serif;
    position: absolute;
    transform: translate(0, -18vw);
    margin-left: 5%;
    font-size: 5.4vw;
    color: #ffff;
}
#header{
    font-family: "SpaceMono", sans-serif;
    position: absolute;
    transform: translate(0, -4vw);
    margin-left: 5%;
    font-size: 1.6vw;
    color: #ffff;
}

.number1{
    transform: translate(78vw, -28vw);
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}
.number1:hover{
    transform: translate(78vw, -28vw) scale(1.1) rotate(2deg);
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}
.number2{
    transform: translate(44vw, -4vw);
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}
.number2:hover{
    transform: translate(44vw, -4vw) scale(1.1) rotate(2deg);
    display: inline-block;
    text-align: center;
    transition: 0.2s;
}

#cont1{
    font-family: "Bitter", sans-serif;
    color: #ffff;
    font-size: 3vw;
}
#cont2{
    font-family: "SpaceMono", sans-serif;
    color: #ffff;
    font-size: 1vw;
}

.button{
    transition: 0.2s;
    transform: translate(-21.5vw, 6vw);
    border-radius: 2vw;
    display: inline-block;
    padding: 1vw;
    background-color: #ffff;
}
.button:hover{
    transition: 0.2s;
    transform: translate(-21.5vw, 6vw);
    border-radius: 2vw;
    display: inline-block;
    padding: 1vw;
    background-color: #bd5aff;
}

#button{
    font-family: "SpaceMono", sans-serif;
    font-size: 1vw;
}






.grid-container {
    margin-top: 6vw;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    display: grid;
}

.grid-item {
    transition: 0.2s;
    border-radius: 2vw;
    margin: 0.5vw;
    background-color: rgb(32, 32, 32);
    padding: 1vw;
}
.grid-item:hover {
    transition: 0.2s;
    transform: translate(0, -1vw);
    border-radius: 2vw;
    margin: 0.5vw;
    background-color: rgb(32, 32, 32);
    padding: 1vw;
}

.star{
    width: 1.4vw;
}


#titlecont{
    margin-top: 1vw;
    font-family: "SpaceMono", sans-serif;
    font-size: 1.6vw;
    color: #ffff;
    max-width: max-content;
}

#titlecont1{
    margin-top: 1vw;
    font-family: "SpaceMono", sans-serif;
    font-size: 1vw;
    color: #ffff;
    max-width: max-content;
}


@keyframes opacidad {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}