@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
}

#center{
    display: flex;
    justify-content: center;
}

#MC1{
    display: grid;
    grid-template-rows: 30% 70%;
}
.cont1{
    position: relative;
}

#MC3{
    display: grid;
    grid-template-rows: 70% 30%;
}
.cont3{
    position: relative;
}


.img{
    position: absolute;
    bottom: 0;
    width: 80%;
}
.text{
    width: 100%;
}

#mainText{
    width: 100%;
}